@import "../settings";

.weathers {
  white-space: nowrap;
  text-align: center;

  & td {
    width: 8.5em;
    padding: 0.5em 0.1em;
    font-size: 0.8em;
  }
}

.region {
  text-align: left;

  &:hover {
    background: none !important;
  }

  & h4 {
    margin: $global-margin 0 0;
  }
}

.zone {
  text-align: left;
  font-weight: normal;
  padding: 0.2em 0.2em 0.2em 0.5em;
}

$weather-icons: (
  clear-skies,
  fair-skies,
  clouds,
  wind,
  gales,
  fog,
  rain,
  showers,
  thunder,
  thunderstorms,
  dust-storms,
  standstorms,
  heat-waves,
  hot-spells,
  snow,
  blizzards,
  gloom,
  umbral-static,
  umbral-wind
);
.weather-icon {
  display: inline-block;
  // position: relative;
  // top: 0.4em;
  width: 30px;
  height: 30px;
  background: {
    image: url("./weather-icons.png");
    size: (length($weather-icons) * 100%) 100%;
  }
  margin: .15em;
  vertical-align: sub;
}
@each $icon in $weather-icons {
  $i: index($weather-icons, $icon);
  .#{$icon} {
    background-position: (-100% * ($i - 1)) 0%;
  }
}
