@import "../settings";

.weathers {
  text-align: center;

  & td {
    width: 6em;
    padding: 0.2em 0.2em;
    font-size: 0.85em;
    vertical-align: top;
  }

  & th, & td {
    &:nth-child(3) {
      background-color: rgba($primary-color, 0.1);
      :global(.dark) & {
        background-color: rgba(darken($primary-color, 25%), 0.3);
      }
    }
  }
}

.region {
  text-align: left;
  margin: 0;

  &:not(:first-child) h4 {
    margin-top: (2 * $global-margin);
  }

  &:hover {
    background: none !important;
  }
}

.time {
  &:hover {
    background: none !important;
  }
}

.zone {
  text-align: left;
  font-weight: normal;
  padding: 0.2em 0.2em 0.2em 1em;
}

$weather-icons: (
  clear-skies,
  fair-skies,
  clouds,
  wind,
  gales,
  fog,
  rain,
  showers,
  thunder,
  thunderstorms,
  dust-storms,
  standstorms,
  heat-waves,
  hot-spells,
  snow,
  blizzards,
  gloom,
  umbral-static,
  umbral-wind
);
.weather-icon {
  display: inline-block;
  // position: relative;
  // top: 0.4em;
  width: 30px;
  height: 30px;
  background: {
    image: url("./weather-icons.png");
    size: (length($weather-icons) * 100%) 100%;
  }
  margin-top: 0.2em;
  vertical-align: sub;
}
@each $icon in $weather-icons {
  $i: index($weather-icons, $icon);
  .#{$icon} {
    background-position: (-100% * ($i - 1)) 0%;
  }
}
