@import "../settings";

.schedule {
  th {
    text-align: center;
  }

  tbody tr {
    cursor: pointer;
  }

  tbody td {
    padding-top: 0;
    padding-bottom: 0;
  }

  .date-change:not(:first-child) {
    border-top: $table-border;
    :global(.dark) & {
      border-top: $dark-table-border;
    }
  }

  tbody .hover, tbody tr:hover {
    background-color: lighten($primary-color, 60%);
    transition: background-color 0.1s linear;
    :global(.dark) & {
      background-color: darken($primary-color, 10%);
    }
  }

  .date {
    text-align: center;
  }
  .time {
    text-align: left;
  }
  .destination-name {
    text-align: right;
  }
  .destination-time {
    text-align: left;
    & svg {
      vertical-align: middle;
    }
  }
  .objectives {
    & .fish-icon {
      top: 0;
      vertical-align: middle;
    }
  }
}

.route-details {
  margin-bottom: 1em;

  h4 {
    display: inline;
    margin-right: 0.5em;
  }
}

.route-table {
  margin-top: 0.5em;
  margin-bottom: $global-margin;

  & > div {
    border: $table-border;
    padding-top: 0.5em;
    &:not(:first-child) {
      border-top: none;
      @include breakpoint(large) {
        border-top: $table-border;
        border-left: none;
      }
    }
    :global(.dark) & {
      border: $dark-table-border;
      &:not(:first-child) {
        border-top: none;
        @include breakpoint(large) {
          border-top: $dark-table-border;
          border-left: none;
        }
      }
    }
  }
}

.time-icon {
  display: inline-block;
  vertical-align: sub;

  & * {
    stroke: black;
    fill: yellow;
  }
  :global(.dark) & {
    & * {
      stroke: $dark-gray;
    }
  }
}

$fish-icons: (
  (ragworm, krill, plump-worm, versatile-lure, glowworm, shrimp-cage-feeder, heavy-steel-jig, rat-tail),
  (galadion-chovy, heavenskey, navigators-print, ghoul-barracuda, gladius, hi-aetherlouse, great-grandmarlin, tossed-dagger),
  (elder-dinichthys, gugrusaurus, crimson-monkfish, deep-sea-eel, silencer, la-noscean-jelly, sea-nettle, floating-saucer),
  (shaggy-seadragon, aetheric-seadragon, coral-seadragon, tarnished-shark, ghost-shark, quicksilver-blade, funnel-shark, chrome-hammerhead),
  (sweeper, executioner, cyan-octopus, mermans-mane, mopbeard),
  (drunkfish, little-leviathan, shooting-star, sabaton, spectral-megalodon, spectral-discus, spectral-sea-bo, spectral-bass),
  (sothis, coral-manta, elasmosaurus, stonescale, octopodes, sharks, jellyfish, seadragons)
);
.fish-icon {
  display: inline-block;
  position: relative;
  top: 0.3em;
  width: 40px;
  height: 40px;
  background: {
    image: url("./ocean-fish.png");
    size: 800% (length($fish-icons) * 100%);
  }
  margin: .15em;
  vertical-align: sub;
}
@each $row in $fish-icons {
  $i: index($fish-icons, $row);
  @each $icon in $row {
    $j: index($row, $icon);
    .#{$icon} {
      background-position: (-100% * ($j - 1)) (-100% * ($i - 1));
    }
  }
}

.catches {
  list-style-type: none;
  margin: 1em 0 0;

  & > li {
    margin: 0.5em 0 0.8em;
  }

  & ul {
    list-style-type: none;
    margin-top: 0.25em;
    margin-left: 0.5em;

    & > li {
      margin-top: 0.25em;
    }
  }

  h6 {
    font-size: 0.85em;
    margin-bottom: 0;
  }

  .divider {
    border-top: $table-border;
    padding-top: 0.75em;
    :global(.dark) & {
      border-top: $dark-table-border;
    }
  }
}

.bait-group {
  position: relative;
  display: inline-block;

  & .fish-icon {
    margin: 0 4px;
  }

  & .tug {
    position: absolute;
    left: 32px;
    top: 0;
    font-size: 0.6em;
  }

  & .dh {
    margin-left: 0.25em;
  }
}

.tug {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.2em;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;

  &.light {
    background-color: #aaffaa;
  }
  &.medium {
    background-color: #aaaaff;
  }
  &.heavy {
    background-color: #ffaaaa;
  }
  :global(.dark) & {
    &.light {
      background-color: #078203;
    }
    &.medium {
      background-color: #195ecf;
    }
    &.heavy {
      background-color: #9e0000;
    }
  }
}
