@import "../settings";

input.utc-input {
  display: inline-block;
  margin: 0 0.5em;
  width: initial;
  max-width: 5em;
}

.schedule {
  th {
    text-align: center;
  }

  tbody tr {
    cursor: pointer;
  }

  .date-change:not(:first-child) {
    border-top: 1px solid $black;
  }

  tbody .hover, tbody tr:hover {
    background-color: $light-gray;
    transition: background-color 0.1s linear;
  }

  .date {
    text-align: center;
  }
  .time {
    text-align: left;
  }
  .destination-name {
    text-align: right;
  }
  .destination-time {
    text-align: left;
    & svg {
      vertical-align: middle;
    }
  }
  .objectives {
    & .fish-icon {
      vertical-align: middle;
    }
  }
}

.time-icon {
  display: inline-block;
  vertical-align: sub;
}

$fish-icons: (
  (ragworm, krill, plump-worm, versatile-lure, glowworm, shrimp-cage-feeder, heavy-steel-jig, rat-tail),
  (galadion-chovy, heavenskey, navigators-print, ghoul-barracuda, gladius, hi-aetherlouse, great-grandmarlin, tossed-dagger),
  (elder-dinichthys, gugrusaurus, crimson-monkfish, deep-sea-eel, silencer),
  (drunkfish, little-leviathan, shooting-star, sabaton, spectral-megalodon, spectral-discus, spectral-sea-bo, spectral-bass),
  (sothis, coral-manta, elasmosaurus, stonescale, octopodes, sharks, jellyfish, seadragons)
);
.fish-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: {
    image: url("./ocean-fish.png");
    size: 800% (length($fish-icons) * 100%);
  }
  margin-right: 0.3em;
}
@each $row in $fish-icons {
  $i: index($fish-icons, $row);
  @each $icon in $row {
    $j: index($row, $icon);
    .#{$icon} { background-position: (-100% * ($j - 1)) (-100% * ($i - 1)); }
  }
}
