@import "./settings";

.lulu {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
  @include breakpoint(medium) {
    font-size: 3rem;
  }

  & > img {
    margin-bottom: 2rem;
    max-width: 50vw;
  }
}
