@import "./foundation";

body {
  transition: background-color .1s linear;
  &:global(.dark) {
    background-color: $dark-body-background;
    color: $dark-body-font-color;
  }
}

main {
  padding-top: 1em;
  padding-bottom: 10em;
}

#{text-inputs()}, textarea, select {
  :global(.dark) & {
    background-color: $dark-input-background;
    border: $dark-input-border;
    color: $dark-body-font-color;
  }
}

a {
  :global(.dark) & {
    color: lighten($primary-color, 20%);
  }
}

header {
  background-color: $topbar-background;
  font-size: 1.2rem;
  color: $white;

  & a {
    padding: $topbar-padding 0.5em;

    &:link, &:visited {
      color: $white;
    }
    &:hover, &:active {
      color: $white;
      background-color: darken($primary-color, 10%);
    }
  }
}

table {
  &, & thead, & tbody {
    border: none;
  }

  thead {
    border-bottom: $table-head-border;
    text-align: center;
    font-size: $table-head-font-size;
  }

  tbody > tr {
    border-bottom: none;
  }

  :global(.dark) & {
    & thead {
      border-bottom: $dark-table-head-border;
      background-color: $dark-table-head-background;
      color: $dark-body-font-color;
    }
    & tbody {
      background-color: $dark-table-background;
    }
    & tbody tr {
      background-color: $dark-table-background;
    }
  }
}

code {
  :global(.dark) & {
    border: $dark-code-border;
    background-color: $dark-code-background;
    color: $dark-code-color;
  }
}

ul.pages {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  font-size: 1.2em;
}
